*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: #a8d7e2 ;
    /* overflow: hidden; */
}

h1{
    color: #0f5768;
}
html{
    height: 100vh;
}

body{
    position: relative;
    height: 100%;
    /* background-image: linear-gradient(to right bottom, #2fa395, #1ea29e, #09a0a5, #009ead, #009cb3, #0195af, #058eaa, #0b87a5, #0d7b95, #0e6f86, #0f6377, #0f5768); */

    background-image: linear-gradient(to top, #8bb6c0, #65b0c5, #5dadc5, #49a8c3, #0898ba);

    
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

} 

/* <!-- ------------------------header--------------------------------------  -->
<!-- ---------------------------------------------------------------------- --> */

header{
    height: 70px;
    position: fixed;
    z-index: 100;
    background-color: #a8d7e2;
    opacity: .8;
    /* background-image: linear-gradient(to to, #a8d7e2, #8bc7d7, #6cb7cd, #49a8c3, #0898ba); */

    
}

nav{
    margin: auto 0;
}

nav ul{
    margin: auto 0;

}

nav ul li{
    border: .2px solid white;
    border-radius: 15px;
    width: 150px;
    text-align: center;
    margin-right: .5rem;
}

nav ul li:hover a{
    background-color: #0f5768;
    color: #a8d7e2;
    text-decoration: none;
    transition: all 500ms;
}

nav ul li:hover{
    background-color: #0f5768;
    transition: all 200ms;
}


nav ul a{
    color: #0f5768;
    
    
}


.logo{
    width: 89px;
    height: 48px;
    /* background-color: blue; */
}

/* <!-- ------------------------ fin header--------------------------------------  -->
<!-- ---------------------------------------------------------------------- --> */


/* <!-- ------------------------ login--------------------------------------  -->
<!-- ---------------------------------------------------------------------- --> */

#login{
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    /* display: none; */
    
}

.fa-times{
    position: absolute;
    right: 5%;
    top: 15%;
    font-size: 1.5rem;
    
}




.container__login{
    background-color: aliceblue;
    border-radius: 30px;
}

.fa-google{
    font-size: 2rem;
}

/* <!-- ------------------------ fin login--------------------------------------  -->
<!-- ---------------------------------------------------------------------- --> */


/* <!-- ------------------------ portada--------------------------------------  -->
<!-- ---------------------------------------------------------------------- --> */

.portada{
    width: 100%;
    height: 600px;
    /* background-image: url(../imgs/carrousel/portada.png); */
}

.portada img{
    object-fit: cover;
}

/* <!-- ------------------------ fin portada--------------------------------------  -->
<!-- ---------------------------------------------------------------------- --> */


/* <!-- ------------------------ ABOUT US --------------------------------------  -->
<!-- ---------------------------------------------------------------------- --> */
#aboutus p{
    font-size: 1.2rem;
}

#aboutus h1{
    color: #0f5768;
    
}



/* <!-- ------------------------ fin ABOUTUS--------------------------------------  -->
<!-- ---------------------------------------------------------------------- --> */

.seccion{
    height: 720px;
    width: 100%;
    overflow: auto;
    padding-top: 72px;
    /* border: 1px solid black; */
}



/* <!-- ------------------------ QUICK START--------------------------------------  -->
<!-- ---------------------------------------------------------------------- --> */
#quickStart h1{
    
        color: #0f5768;
    
}



.card-tile{
    background-color: #2fa395;
    border-radius: 1.5rem;
    box-shadow: 2px 3px 8px  #0f5768;
    border: 1px solid #0898ba;
}

.card-tile h4{
    padding: 8px;
    text-align: center;
}

{
    
}

.card-tile p{
    padding: 5px;
}

/* <!-- ------------------------ fin QUICK START--------------------------------------  -->
<!-- ---------------------------------------------------------------------- --> */

@media only screen and (max-width: 600px) {
    header nav ul li{
        display: none;
    }

    .seccion-portada{
        height: 200px;
    }

    .seccion{
        padding-top: 0px;
        /* height: auto; */
    }

    .seccion-xs{
        height: 1000px;
        /* border:  red solid 2px; */
        overflow: auto;
    }

    #quickStart .seccion{
        /* height: 1080px; */
    }

    .seccion-md{
        height: 1280px;
    }

    .card-tile{
        margin-top: .5rem;
    }
   
  }

 /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    /* .seccion-portada{
        height: 720px;
    } */

    .seccion{
       /* padding: 25px; */
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #shipping > div{
        height: 1080px;
    }

    .card-tile{
        margin-top: .8rem;
    }
   
}  

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

/*     
        #shipping > div{
            height: 720px;
        } */
    
}